.movie-holder-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vmin;
}

.movie-home {
    font-family: 'Montserrat', sans-serif;
    padding: 2vmin 4vmin 2vmin 2vmin;
    background-color: white;
    margin: 4vmin 0 2vmin 0;
    width: 130vmin;
    border: .5vmin solid red;
    border-radius: 6vmin;
    display: grid;
    grid-template-columns: 35vmin 1fr 17vmin;
    grid-template-rows: 14vmin 13vmin 13vmin 5vmin 1fr;
    grid-template-areas:
    "poster title title"
    "poster director year"
    "poster description description"
    "poster links links"
    "reviews reviews reviews"
}

#usercount {
    text-align: center;
    padding-top: 15vmin;
    height: 45vmin;
    color: transparent;
    font-size: 6vmin;
    font-family: 'Source Code Pro', monospace;
}

#usercount:hover {
    color: RGB(66,68,81);
    background-color: rgba(255,255,255,.8);
}

#reviews {
    grid-area: reviews;
}

#postarea {
    grid-area: reviews;
    width: 124vmin;
    height: 10vmin;
    border-radius: 3vmin;
    border: .4vmin solid RGB(126, 130, 156);
    font-size: 2.5vmin;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2vmin;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



#review-holder {
    margin-top:2vmin;
    display: grid;
    grid-template-columns: 6vmin 1fr 10vmin;
    grid-template-rows: 3vmin 3vmin 1fr;
    grid-template-areas:
    " icon user delete "
    " icon content content "
    " black content content"
    
}

#icon {
    height: 5vmin;
    width: 5vmin;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}



#usernamecomment {
    grid-area: user;
    color: RGB(81, 84, 166);
    font-weight: 600;
    font-size: 2.5vmin;
    margin-left: 1vmin;
}

#commentbutton {
    color:transparent;
    background-color: transparent;
    border: none;
    font-size: 3vmin;
}


#commentbutton:hover {
    border: none;
    background: red;
    height: 5vmin;
    width: 5vmin;
    border-radius: 50%;
    color: white;
}


#comment {
    overflow: wrap;
    margin-top: 1vmin;
    margin-left: 1vmin;
    grid-area: content;
    font-size: 2.5vmin;
    overflow-wrap: anywhere;
    color: RGB(66,68,81);
}

#review {
    grid-area: review;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
}

#dateofcomment {
    grid-area: delete;
    font-size: 2vmin;
    text-align: right;
    color: RGB(126, 130, 156);
}

.dropdown {
    display: none;
}


@media only screen and (max-width: 130vmin) {
    .movie-home,
    .movie {
        width: 95vmin;
    }
    .info {
        font-size: 1.5vmin;
    }
    .big {
        font-size: 3.3vmin;
    }
    #title {
        font-size: 3.6vmin;
    }
    .longdirect {
        font-size: 2.2vmin;
    }
    #title.longtext {
        font-size: 2.8vmin;
    }
    #postarea {
        width: 89vmin;
    }

}







