.movie-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vmin;
}

.movie {
    font-family: 'Montserrat', sans-serif;
    padding: 2vmin 4vmin 2vmin 2vmin;
    background-color: white;
    margin: 4vmin 0 2vmin 0;
    width: 130vmin;
    height: 50vmin;
    border: .5vmin solid red;
    border-radius: 6vmin;
    display: grid;
    grid-template-columns: 35vmin 1fr 17vmin;
    grid-template-rows: 1fr 13vmin 13vmin 5vmin;
    grid-template-areas:
    "poster title title"
    "poster director year"
    "poster description description"
    "poster links links"
}

#poster {
    grid-area:poster;
    border-radius: 4vmin;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

#title {
    grid-area: title;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 6vmin;
    margin-left: 2vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

#title.longtext {
    font-size:3.8vmin;
}

#director{
    grid-area: director;
    margin-left: 2vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

.longdirect{
    font-size:3vmin;
}

#year {
    grid-area: year;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#description {
    grid-area: description;
    margin-left: 2vmin;
}

.small {
    font-size: 2vmin;
    font-weight: 200;
    color: RGB(121,125,153);
}

.big {
    font-weight: 400;
    font-size: 4.5vmin;
}

.info {
    font-weight: 400;
    font-size: 2vmin;
}

/* LINKS */

#links {
    font-family: 'Montserrat', sans-serif;
    grid-area: links;
    margin-left: 2vmin;
    margin-bottom: 2vmin;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#links > a,
#delete,
#comments,
#addbutton {
    padding: 1.6vmin;
    border-radius: 2vmin;
    font-size: 2.5vmin;
}

#links > a {
    text-decoration: none;
    color: RGB(138, 140, 153);
}

#comments,
#addbutton,
#delete {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: RGB(138, 140, 153);
    background-color: white;
    border: none;
}

#delete:hover {
    color: white;
    background-color: red;
    font-weight: 600;
    /* font-size: 2.5vmin; */
}

#imdb:hover {
    background-color: RGB(245,197,23);
    color: RGB(18,18,18);
    font-weight: 600;
}


#addbutton:hover,
#regular:hover{
    color: white;
    background-color: RGB(34, 37, 135);
    font-weight: 600;
}


#comments:hover {
    color: white;
    background-color: RGB(66,68,81);
    font-weight: 600;
}


/* HOVER RATING */
.clipstar {
  background:RGB(242, 228, 162);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 7vmin;
  width: 7vmin;
  margin: 3vmin 0 2vmin 0;
  background:RGB(255, 173, 173);
}

.rating1 button:nth-child(-n+1){
    background:red;
}

.rating2 button:nth-child(-n+3){
    background:red;
}

.rating3 button:nth-child(-n+4){
    background:red;
}

.rating4 button:nth-child(-n+5){
    background:red;
}

.rating5 button:nth-child(-n+6){
    background:red;
}

#seenrating {
    opacity: 0;
    text-align: center;
    padding-top: 10vmin;
    height: 45vmin;
    color: transparent;
    font-size: 6vmin;
    font-family: 'Source Code Pro', monospace;
}

#seenrating:hover {
    opacity: 1;
    color: RGB(66,68,81);
    background-color: rgba(255,255,255,.8);
}


/* search ejs */

#searchMovie {
    border: .5vmin solid RGB(66,68,81);
}

#searchMovie:hover {
    border: .5vmin solid red;
}
