#newform {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#newform > form > input {
    margin: 6vmin 0 3vmin 0;
    font-size: 4vmin;
    height: 7vmin;
    width: 70vmin;
    border-radius: 1vmin;
    border: .4vmin solid blue;
}

#button2 {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 2.5vmin;
    color: RGB(126, 130, 156);
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    border: 2px solid white;
}

#button2:hover {
    color: white;
    background-color: RGB(34, 37, 135);
    font-size: 2.5vmin;
}

#help {
    color: RGB(66,68,81);
}




/* MAKE DIV BORDER CHANGE COLOR WHEN ON MOVIES IN SEARCH */