* {
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 8vmin 1fr;
  grid-template-areas: 
    "nav"
    "main";
  color: RGB(57,57,57);
}

main {
  grid-area: main;
  background-color: RGB(217,191,76);
}

