<%- include('../partials/header') %>

<div id="searchtitle">
    <form action='/movies/search' method="GET">
        <input autocomplete="off" type="text" name="title" placeholder="SEARCH MOVIE TITLE" value="<%= (search.length > 0)? search : ""%>">
    </form>
    <% if (message.length > 0) %><div id="help"><%= message%></div>
</div>

<%- include('../partials/footer') %>